{% include 'app/partials/base.html' %}

<div class="container">
    <div class="cards-show">
        <div class="card">
            <h5 class="card-header"><strong>About Us</strong></h5>
            <div class="card-body">
                <p class="card-text text-left">Health Passport was developed to solve a real world problem of not having
                    vaccination & critical health data in a central location.</p>
                <p class="card-text text-left">We want to provide a digital solutuon that helps people stay organized
                    with their vaccinations and critical health information as well as
                    manage records for their families.</p>
                <p class="card-text text-left">We hope that this solution helps people in all locations and from all
                    walks of life keep themselves and their families safe and healthy.</p>
            </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-flat" href="{% url 'index' %}">Back to Home</a>
</div>