{% include 'app/partials/base.html' %}

<div class="container">
    <div class="cards-show">
        <div class="card">
            <h5 class="card-header"><strong>{{ familygroup.family_group_name }}</strong></h5>
            <div class="card-body">
                <ul class="list-inline-profile">
                    {% for profile in familygroup.profile_set.all %}
                    <strong>Member/s:</strong>
                    <li><a href="{{ profile.get_absolute_url }}">
                            {{ profile.first_name }}
                            {{ profile.last_name }}
                        </a></li>
                    {% endfor %}
                    <img src='images/icons8-two-ponytails-hair-lady-with-green-glasses.png' class="avatar-large" />
                    <img src='images/icons8-man-in-blue-t-shirt.png' class="avatar-large" />
                    <img src='images/icons8-brown-pigtail-hair-lady.png' class="avatar-large" />
                    <img src='images/icons8-bald-man-in-green-jacket.png' class="avatar-large" />
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-flat" href="{% url 'familygroups' %}">Back to Manage Profiles</a>
</div>