{% include 'app/partials/base.html' %}

<div class="banner-manage">
    <div class="container text-center">
        <h1>Manage Family Group Profiles</h1>
        <p>Choose profile for review</p>
    </div>
</div>

{% if familygroup_list %}

<div class="container mt-4">
    <div class="postcards">
        {% for family in familygroup_list %}
        <div class="card-category">
            <a href="{{ family.get_absolute_url }}">{{ family.family_group_name }}</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center mt-5">
        <p>No Family Group Profiles exist</p>
    </div>
    {% endif %}
    <hr>
    <a class="btn btn-flat" href="{% url 'index' %}">Back to Home</a>
</div>