{% include 'app/partials/base.html' %}

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1581553673739-c4906b5d0de8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
    <!-- Photo by ConvertKit on Unsplash -->
    <div class="container">
        <h1>Health Passport</h1>
        <p>Your digital health & vaccination tracker</p>
    </div>
</div>

<div class="container">
    <div class="cards-show">
        <div class="card">
            <h5 class="card-header"><strong>Health & Vaccination Tracker</strong></h5>
            <div class="card-body">
                <h5 class="card-text">Managing vaccination records has never been easier with Health Passport</h5>
                <br>
                <div class="feature-list">
                    <ul class="list-inline">
                        <li><i class="far fa-file fa-fw" id="icon"></i>Manage Digital Vaccination Records</li>
                        <li><i class="far fa-eye fa-fw" id="icon"></i>Track Upcoming Vaccinations</li>
                        <li><i class="far fa-bell fa-fw" id="icon"></i>Get Alerts & Reminders</li>
                        <li><i class="far fa-calendar-check fa-fw" id="icon"></i>Check Vaccination Status</li>
                        <li><i class="fas fa-search fa-fw" id="icon"></i>Maintain Vaccine Repository</li>
                    </ul>
                </div>
                <h5 class="card-text">Helping to keep families healthy 👨‍👩‍👦</h5>
                <!-- <a><%= link_to "Set up your profile now", new_user_registration_path, class: "btn btn-flat" %></a> -->
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <!--   <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </div> -->
    <div class="footer-copyright">
        This site was made with <i class="fas fa-heart"></i> by Health Passport
    </div>
</div>