{% include 'app/partials/base.html' %}

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
    <div class="container">
        <h1>{{ profile.first_name }} {{ profile.last_name }} Profile</h1>
        <p>Personal data, health and vaccination / immunization information</p>
        <a class="btn btn-flat" href="{% url 'familygroups' %}">Upload Vaccination Card</a>
        <a class="btn btn-flat" href="{% url 'familygroups' %}">Set up Alerts & Reminders</a>
    </div>
</div>

<div class="container">
    <div class="cards">
        <div class="card">
            <h5 class="card-header"><strong>Personal Information</strong></h5>
            <div class="card-body">
                <ul class="list-inline-profile">
                    <li><strong>First Name:</strong> {{ profile.first_name }}</li>
                    <li><strong>Last Name:</strong> {{ profile.last_name }}</li>
                    <li><strong>Phone Number:</strong> {{ profile.phone_number }}</li>
                    <li><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</li>
                    <li><strong>Emergency Contact:</strong> {{ profile.emergency_contact }}</li>
                    <li><strong>Doctor Name & Contact:</strong> {{ profile.doctor_name_contact }}</li>
                    <li><strong>Blood Type:</strong> {{ profile.blood_type }}</li>
                    <li><strong>Allergies:</strong> {{ profile.allergies }}</li>
                    <li><strong>Existing Health Conditions:</strong> {{ profile.existing_health_conditions }}</li>
                    <li><strong>Family Member:</strong> {{ profile.family_member_type }}</li>
                </ul>
                <a class="btn btn-flat" href="{% url 'profile-update' profile.id %}"> Edit Profile</a>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header"><strong>Vaccinations / Immunizations</strong></h5>
            <div class="card-body">
                {% for immunization in profile.immunization_set.all %}
                <div class="notification">
                    <div class="notification-content text-left">
                        <p><a href="{{ immunization.get_absolute_url }}">
                                {{ immunization.vaccine.vaccine_name }}
                            </a></p>
                        <p><small>Expires: {{ immunization.expired_by }}</small></p>
                    </div>
                    <div class="notification-actions">
                        <a href="{% url 'immunization-update' immunization.id %}"> Edit
                            <i class=" fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'immunization-delete' immunization.id %}"> Delete
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <br>
                <a class="btn btn-flat" href="{% url 'immunization-add' %}"> Add Immunization</a>
            </div>
        </div>

    </div>
    <hr>
    <a class="btn btn-flat" href="{% url 'familygroup-detail' profile.familygroup.id %}">Back to Family Group</a>
</div>