  .profile-wrapper {
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }

  .card {
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    border: 1px solid rgb(230,230,230);
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .cards-profile {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .card-profile {
    text-align: left;
  }

  .card-profile-warning {
    opacity: .7;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgb(230,230,230);
    background-color: white;
  }

  .card-profile-warning h4 {
    font-weight: bold;
    color: #D23333;
    padding-top: 0.1em;
  }

  .card-profile-warning h5 {
    color: black;
    font-size: medium;
    padding-top: 0.5em;
  }


  .list-inline {
   list-style: none;
   list-style-position: inside;
   text-align: left;
  }
  
  .list-inline li {
   /* border: 1px solid rgba(0, 0, 0, 0.3); */
   padding: 10px;
   font-weight: bold;
  }
  
  #icon {
    color: rgba(0, 0, 0, 0.3);
    padding-right: 2em;
    font-size: 20px;
    vertical-align: middle;
  }
  
  .feature-list {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .list-inline-profile {
   list-style: square;
   list-style-position: inside;
   text-align: left;
   padding: 0;
  }
  
  ul li {
    padding-bottom: 10px;
  }
  
  .cards-show {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .notification {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    padding: 4px 8px;
    border: 1px solid rgb(235,235,235);
  }
  
  .notification .notification-content {
    flex-grow: 1;
    padding: 0 12px;
  }
  
  .notification p {
    margin: 0;
    line-height: 1.4;
  }
  
  .notification small {
    color: #999999;
    font-weight: bold;
  }
  .notification .notification-actions {
    opacity: 0;
    display: flex;
    transition: ease .3s;
  }
  
  .notification:hover .notification-actions {
    opacity: 1;
  }
  
  .notification .notification-actions a {
    color: #999999;
    margin-left: 16px;
    font-size: 14px;
  }
  
  .notification .notification-actions a:hover {
    color: #555555;
  }

  .notification-action-vaccines a {
    color: #999999;
    font-size: 14px;
  }

  .notification-action-vaccines a:hover {
    color: #555555;
    opacity: 1;
    transition: ease .3s;
  }
  
 /* Smallest device */
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .cards-profile {
      grid-template-columns: 1fr;
    }
    .cards-show {
      grid-template-columns: 1fr;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .cards-profile {
      grid-template-columns: 1fr;
    }
    .cards-show {
      grid-template-columns: 1fr;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
    .cards-profile {
      grid-template-columns: 1fr;
    }
    .cards-show {
      grid-template-columns: 1fr;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
    .cards-profile {
      grid-template-columns: 1fr;
    }
    .cards-show {
      grid-template-columns: 1fr;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
    .cards-profile {
      grid-template-columns: 1fr;
    }
    .cards-show {
      grid-template-columns: 1fr;
    }
  }
  .card-header {
    background-color: #8AB0AB;
  }
  
  .postcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 25px;
  }
  
  .card-category {
    background-size: cover;
    background-position: center;
    background-color: #3E505B;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-category a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  .card-category a:hover {
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  
  /* Smallest device */
  @media (min-width: 100px) and (max-width: 575px) {
    .postcards {
      grid-template-columns: 1fr;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .postcards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .postcards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .postcards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .postcards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
