@import "card.css";
@import "alert.css";
@import "avatar.css";
@import "banner.css";
@import "button.css";
@import "footer.css";
@import "navbar.css";
@import "table.css";

/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito, Helvetica, sans-serif;
}

body {
    font-family: Work Sans, Helvetica, sans-serif;
    background-color: #F4F4F4;
}
